<a routerLink="/Home">GO TO HOME PAGE</a>
<h1>WELCOME TO ABOUT PAGE!</h1>
<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
</head>
<body>

<p>Google LLC is an American multinational technology company focusing on search engine technology, online advertising, cloud computing, computer software, quantum computing, e-commerce, artificial intelligence, and consumer electronics.</p>
<a href="https://en.wikipedia.org/wiki/Google#:">Go to google.com</a>

</body>
</html>

