<a routerLink="/Home">GO TO HOME PAGE</a>
<h1>WELCOME TO CONTACT PAGE!</h1>
<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
</head>
<body>

<p>Tutorials Point is a leading Ed Tech company striving to provide the best learning material on technical and non-technical subjects</p>
<a href="https://www.tutorialspoint.com/">Go to tutorialspoint</a>

</body>
</html>

