<a routerLink="/Home">GO TO HOME PAGE</a>
<h1>WELCOME TO DESCRIPTION PAGE!</h1>
<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
</head>
<body>

<p>Google is an internet search engine. It uses a proprietary algorithm that's designed to retrieve and order search results to provide the most relevant and dependable sources of data possible</p>
<a href="https://www.techopedia.com/definition/5359/google#/">Go to Google description</a>

</body>
</html>

