<h1>WELCOME TO HOME PAGE !</h1>
<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li{
  padding: 10px;
}

a:hover, a:active {
  background-color: red;
}
</style>
</head>
<body>

 <p>Originally known as BackRub. 
  Google is a search engine that started development in 1996 by Sergey Brin and Larry Page as a research project at Stanford University to find files on the Internet. Larry and Sergey later decided the name of their search engine needed to change and chose Google, which is inspired from the term googol.
   The company is headquartered in Mountain View, California.</p>

<a href="https://www.computerhope.com/">Go to Website</a>

</body>
</html>


